<div class="question d-flex mt-3">
    <div class="counts p-1 px-2 m-2">
        <div class="d-flex justify-content-center f-size-18">2</div>
        <div class="d-flex justify-content-center">votes</div>
    </div>
    <div class="counts py-1 px-2 m-2 green">
        <div class="d-flex justify-content-center f-size-18">2</div>
        <div class="d-flex justify-content-center">answers</div>
    </div>
    <div class="counts p-1 m-2">
        <div class="d-flex justify-content-center f-size-18">2</div>
        <div class="d-flex justify-content-center">views</div>
    </div>
    <div class="abstract p-1 m-2">
        <div class="d-flex">
            <div class="rep-count px-1 rounded-sm">+50</div>
            <div class="color-blue ml-2 summary">This is a sample summary</div>
        </div>
        <div class="color-blue mt-2">
            <a class="tags rounded-sm m-1 p-1" >c</a>
            <a class="tags rounded-sm m-1 p-1">java</a>
            <a class="tags rounded-sm m-1 p-1">python</a>
        </div>
        <div class="">  
            
        </div>
    </div>
</div>

