<div class="home float-right pt-3">
    <div class="home-title-bar">
        <div class="d-flex">
            <div class="title ml-4"><h3>Top Questions</h3></div>
            <button class="ml-auto btn btn-primary color-blue btn-sm" routerLink="/questions">Ask Question</button>
        </div>
        <div class="d-flex justify-content-end mt-4">
            <div class="btn-group btn-group-sm">
                <button  class="btn btn-outline-secondary color-grey">Interesting</button>
                <button  class="btn btn-outline-secondary color-grey">Bountied</button>
                <button  class="btn btn-outline-secondary color-grey">Hot</button>
                <button  class="btn btn-outline-secondary color-grey">Week</button>
                <button  class="btn btn-outline-secondary color-grey">Month</button>
            </div>
        </div>
    </div>
        <app-question></app-question>
</div>